table {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 45, 65);
    color: black;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 176, 176);
    color: black;
    flex-direction: column;
}

td {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(248, 199, 199);
    color: rgb(85, 172, 253);
    flex-direction: column;
}